$fonts: Helvetica, sans-serif;

html, body {
  height: 100%;
  font-size: 13px;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

input, textarea {
  font: 100% $fonts;
}

.hidden {
  display: none;
}
