#postsList {
  position: absolute;
  width: 400px;
  margin: 0;
  border-right: 1px solid #BABABA;
  top: 60px;
  bottom: 0;

  #actions {
    background: rgb(214, 236, 235);
    position: relative;
    .filters {
      display: inline-block;
      text-align: left;
      font-size: 1.5em;
    }
    .filter {
      display: inline-block;
      text-decoration: none;
      padding: 8px 8px;
      &.active {
        background: rgba(255,255,255,0.4);
      }
    }
    #newPostLink {
      position: absolute;
      right: 4px;
      top: 0;
      bottom: 0;
      line-height: 40px;
    }
  }

  .list {
    margin: 0;
    padding: 0;
    
    .post {
      padding: 4px 8px;
      list-style-type: none;
      &:hover {
        background: #F0F0F0;
      }
    }
  }
}

