<h1>You are ready to write</h1>

<section>
  <p>To start using Ecrire, you will need to <strong>restart your server</strong>.</p>

  <p>All the other configuration options will be available to you in the administration panel.</p>

  <p>Have fun!</p>

</section>
