<main>
  <header class="completed">

    <span class="done">&#128077;</span>

    <h1>Ecrire is now configured!</h1>

    <p>You are now ready to go. Ecrire is not fully configured but enough has been entered to start using Ecrire.</p>

    <p>To start using Ecrire, you will need to <strong>restart your server</strong>.</p>

    <p>All the other configuration options will be available to you in the administration panel.</p>

    <p>Have fun!</p>

  </header>
</main>
