<h1>Ecrire</h1>
<div class='slogan'>
  <span>Easy.</span>
  <span>Simple.</span>
  <span>Fun.</span>
</div>


<section>
  <h2>You are almost ready to blog</h2>

  <p>Follow the next few steps and start writing right away.</p>

  <%= link_to 'Configure your blog', onboarding_databases_path %>
</section>

