<h1 class='welcome'>Ecrire</h1>
<div class='slogan'>
  <span>Easy.</span>
  <span>Simple.</span>
  <span>Fun.</span>
</div>


<section class='welcome'>
  <%= link_to 'Configure', onboarding_databases_path, class: %w(button) %>
</section>

