<%= admin_navigation %>

<section class="complete">
  <h1>Your S3 bucket is configure and ready to go!</h1>

  <p>You can now use images in your posts.</p>

  <p><%= link_to 'Go back to your blog', :root %></p>

</section>
