<div class='overlay' as='Overlay'>
  <%= content_tag :div, class: %w(popup), as: 'Post.Title', href: admin_title_path(post.titles.last), method: 'PUT' do %>
    <div class='progressbar'>
      <span class='progress'></span>
    </div>
    <h3>Modify your title</h3>
    <%= content_tag :div, post.title, contenteditable: true, class: %w(input) %>
    <ul class='errors'></ul>
    <p>Press Enter to update, or dismiss the popup to cancel.</p>
  <% end %>
</div>
