<li class="post">
  <div class='content'>
    <%= content_tag :h3, link_to(post.title, url('/:post.year/:post.month/:post.slug', post: post)) %>
    <%= content_tag :time, l(post.published_at, format: "%B %Y") %>
  </div>
  <figure>
  </figure>
</li>
