@font-face {
  font-family: 'entypo';
  src: font-url('entypo.eot');
  src: font-url('entypo.eot?#ie') format('embedded-opentype'),
    font-url('entypo.woff') format('woff'),
    font-url('entypo.ttf') format('ttf');
}

@font-face {
  font-family: 'entypo-social';
  src: font-url('entypo-social.eot');
  src: font-url('entypo-social.eot?#ie') format('embedded-opentype'),
    font-url('entypo-social.woff') format('woff'),
    font-url('entypo-social.ttf') format('ttf'),
    font-url('entypo-social.svg#webfont') format('svg');
}

@font-face {
  font-family: 'olivier';
  src: font-url('olivier.eot');
  src: font-url('olivier.eot?#ie') format('embedded-opentype'),
    font-url('olivier.woff') format('woff'),
    font-url('olivier.ttf') format('ttf');
}

