/*
 *= require_tree ./blog
 *= require_tree ./shared
 *= require post
*/

$header-height: 46px;
$fonts: Helvetica, sans-serif;

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html, body {
  display: flex;
  flex: 1 auto;
}

html {
  min-height: 100%;
}

a {
  color: rgb(114, 153, 204);
}

body {
  margin: 0;
  padding: 0;
  background-image: image-url("background.png");
  background-repeat: repeat;
  font-family: $fonts;
  font-weight: 200;
  font-size: 13px;
  color: #6d645c;
  flex-direction: column;
}

