<div class="wrapper">
  <sidebar id="partialList" class="listing">

    <ol class="items">
      <%= decorate @partials, :overview %>
    </ol>

    <%= paginate @partials %>

  </sidebar>

  <main id="partialContainer">
    <section id="newIdea">
      <%= content_tag :h1, t('.new_idea') %>
      <%= link_to t('.start_writing'), new_admin_partial_path, id: "newPartialLink", class: %w(new item) %>
    </section>
  </main>
</div>
