@media (min-width: 801px) {
  [id*=post-] {
  }

  #suggestedPosts {
    position: absolute;
    padding: 0 12px;
    top: 0;
    bottom: 0;
    right: 0;
    width: 20%;
    border-left: 1px solid #DDCFB4;
    .posts {
      list-style-type: none;
      padding: 0;
    }
  }
}
