[id*=post-] {
  position: relative;
  .post-wrapper {
    min-width: 600px;
    @media (min-width: 801px) {
      width: 80%;
    }
  }

  #suggestedPosts {
    h2 {
      font-weight: lighter;
      text-align: center;
    }

    ol {
      list-style-type: none;
      padding: 0;

      li {
        font-weight: bold;
        .excerpt {
          font-weight: normal;
          font-size: 0.8em;
        }
      }
    }
  }

  sidebar#suggestedPosts {
    position: absolute;
    padding: 0 12px;

    @media (min-width: 801px) {
      top: 400px;
      bottom: 0;
      right: 0;
      width: 20%;
      border-left: 1px solid rgb(207, 184, 142);
    }

    @media (max-width: 800px) {
      position: relative;
    }

  }

  div#suggestedPosts {
    min-width: 600px;
    max-width: 960px;
    width: 80%;
    margin: 0 auto 80px auto;
    padding: 0 32px;

    ol {
      li {
        display: inline-block;
        width: calc(33% - 8px);
        width: -webkit-calc(33% - 8px);
      }
    }
  }
}
