<div class="wrapper">
  <section id="partialList">
    <ol class="list">
      <%= decorate @partials, :overview %>
    </ol>
    <%= paginate @partials %>
  </section>

  <section id="partialOverview">
  </section>
</div>
