<div class="wrapper">
  <section id="partialList">
    <header>
      <%= link_to "new", new_partial_path %>
    </header>
    <ol class="list">
      <%= decorate @partials, :overview %>
    </ol>
    <%= paginate @partials %>
  </section>

  <section id="partialOverview">
  </section>
</div>
