@media (min-width: 801px) {
  [id*=post-] {
    .post-wrapper {
      width: 80%;
    }
  }

  #suggestedPosts {
    position: absolute;
    padding: 0 12px;
    top: 400px;
    bottom: 0;
    right: 0;
    width: 20%;
    border-left: 1px solid rgb(207, 184, 142);
  }
}
