<div id='TagsList'>
  <svg version="1.1" id="Tag" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
    <path d="M18.662,5.521L5.237,19l0.707-4.967l-4.945,0.709L14.424,1.263c0.391-0.392,1.133-0.308,1.412,0l2.826,2.839 C19.162,4.575,19.053,5.128,18.662,5.521z"/>
  </svg>
  <ul class='tags' as='Post.Tags'>
    <% @post.tags.each do |tag| %>
      <%= render 'admin/posts/tags/tag', tag: tag, post: @post %>
    <% end %>
    <%= link_to "Add tags", admin_post_tags_path(@post), remote: true %>
  </ul>
</div>
