<header id="blogHeader">
  <h1>Ecrire</h1>
  <p>Welcome to your new blog!</p>
  <h2>A few things before you can start writing</h2>

  <p>Ecrire comes with a few builtin features that needs to be configured before working.</p>

  <p>Once the neede configurations are set, you won't see this page and you will see your own blog layout.</p>
</header>

<section class="database">
  <div>
    <h2>Configure postgresql</h2>
    <%= database_status %>
    <p>To use Ecrire, you need to have a working postgresql database working on your server. This walkthrough expects you can install postgresql on your own.</p>
  </div>

  <div>
    <span>/Code</span>
    <p>Start by launching postgresql command line environment:</p>
      <pre><code class="language-sql">$ psql</code></pre>

    <p>Replace all $variables with your own information.</p>

    <p>Create a user:</p>
      <pre><code class="language-sql">> CREATE USER $user WITH PASSWORD '$password';</code></pre>

    <p>Create a database for ecrire to use:</p>
      <pre><code class="language-sql">> CREATE DATABASE $ecrire_database;</code></pre>

    <p>Grant all privileges to your user so ecrire can use both together:</p>
      <pre><code class="language-sql">> GRANT ALL PRIVILEGES ON DATABASE $ecrire_database to $user</code></pre>

    <p>Once this is done, you will need to update <code>your_blog/config/database.yml</code> to have the following information:</p>

    <pre><code class="language-yaml">development:
        adapter: 'postgresql'
        database: '$ecrire_database'
        user: '$user'
        password: '$password'
        </code></pre>
  </div>
</section>

<section>
  <div>
    <h2>Enable your blog's theme</h2>
    <%= user_layout_status %>
  </div>

  <div>
    <p>To make ecrire use your instance, you will need to rename <code>your_blog/views/layouts/application.html.erb.inactive</code> to <code>your_blog/views/layouts/application.html.erb</code></p>
  </div>
</section>

<section>
  <h2>Enable image uploading</h2>
</section>

