a {
  color: rgb(110, 123, 165);
}

.hidden {
  display: none;
}

.flash {
  position: absolute;
  min-width: 20%;
  max-width: 40%;
  left: calc(50% - 10%);
  top: 12px;
  padding: 4px 8px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  
  &.notice {
    background: #b5f5c4;
    border-color: #18D344;
    
    .dismiss.button {
      color: #096B1C;
    }
  }

  &.alert {
    background: #F5B5B5;
    border-color: #CF1D1D;

    .dismiss.button {
      color: #6B0909;
    }
  }

  .message {
    padding-right: 12px;
  }

  .dismiss.button {
    position: absolute;
    right: 5px;
    top: 3px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
  }
}

ol.list {
  overflow-y: scroll;
}

h1, h2, h3, h4, h5 {
  font-weight: 100;
}

ul, ol {
  margin: 0;
  padding: 0;
}
