@font-face {
  font-family: 'entypo';
  font-style: 'normal';
  font-weight: 'normal';
  src: font-url('entypo.woff') format('woff');
}

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

@mixin fields {
  border: none;
  margin: 0;
  outline: none;
  padding: 4px 12px;
  font-weight: lighter;
  resize: none;
}

@mixin text {
  .main.editor {
    display: flex;
    flex-direction: row;
    flex: 1 100%;
  }

  .content.wrapper {
    flex: 1 50%;
    display: flex;
    flex-direction: column;
  }

  .editor.content, .editor.stylesheet, .editor.javascript {
    @include fields;
    padding-top: 28px;
    font-size: 1.2em;
    background: #FAFAFA;
    border-right: 1px solid #CACACA;
    flex: 1 100%;

    &.hidden {
      display: none;
    }
  }

}

@mixin title {
  .title.wrapper {
    margin: 20px 0 0;
    background: #FAFAFA;
    display: flex;
    flex: 0 40px;
    flex-shrink: 0;
    position: relative;

    .input {
      @include fields;
      font-size: 2.5em;
      width: 100%;
      margin: 0;
      padding-left: 44px;
      font-weight: lighter;
      background: none;
    }

    .toggle {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      padding: 0 12px;
      line-height: 100%;
      font-size: 3em;
      cursor: pointer;
      border-left: 1px solid transparent;

      &:hover {
        opacity: 0.4;
      }

      &:before {
        content: "\1f517";
      }
    }
    &.slug {
      .toggle {
        border-left-color: #CACACA;
        box-shadow: inset 1px 0px 4px -2px rgba(0, 0, 0, 0.3);
        background: rgba(0,0,0,0.1);
      }
    }

    .possible.save.actions {
      margin: 6px 16px;
      width: 100px;
      z-index: 100;
      position: relative;

      & > .arrow {
        position: absolute;
        top: 6px;
        left: 4px;
        font-family: 'entypo', sans-serif;
        font-size: 3em;
        padding: 0 4px;
        content: "\E75C";
        line-height: 20px;
        cursor: pointer;
      }

      & > .wrapper {
        background: rgb(197, 220, 245);
        border-radius: 3px;
        padding-left: 24px;

        &.standalone {
          padding-left: 0;
          button {
            text-align: center;
          }
        }
      }

      button {
        background: none;
        padding: 0 8px;
        border: none;
        vertical-align: top;
        font-size: 1.2em;
        margin: 0;
        padding: 0 8px;
        width: 100%;
        height: 28px;
        text-align: left;
        outline: none;
        cursor: pointer;
      }
    }
  }
}

@mixin options {
  .editor.options.wrapper {
    .options {
      width: 50%;
      float: left;
      padding: 0 24px;
    }

    height: 3.0em;
    line-height: 3.0em;
    border-bottom: 1px solid #CACACA;
    position: relative;
    flex-basis: 40px;
    flex-grow: 0;
    flex-shrink: 0;
    .wrapper {
      padding: 0 24px;
      width: 50%;
    }
    a {
      cursor: pointer;
      margin-right: 24px;
      text-decoration: none;
      &.active {
        font-weight: bold;
      }
      &:hover:not(.active) {
        text-decoration: underline;
      }
    }
  }
}

@mixin preview {
  #editorSideContent {
    overflow-y: scroll;
    font-size: 1.2em;
    font-weight: lighter;
    flex: 1 50%;

  }
}

@mixin errors {
  .errors {
    flex: 1 auto;
    background: rgba(236, 66, 66, 0.23);
    margin: 12px 20% 0 20%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #BB0101;
    color: #811616;
    position: relative;
    .dismiss.button {
      position: absolute;
      right: 6px;
      top: 3px;
      text-decoration: none;
      color: #811616;
      font-weight: bold;
      text-shadow: 0 1px rgb(243, 200, 200);
      font-size: 1.4em;
    }
  }
}

@mixin partials {
  .partials.listing {
    overflow-y: scroll;
    list-style-type: none;
    .partial {
      padding: 8px 24px;
      border-bottom: 1px solid #BABABA;
      cursor: pointer;
      &:hover {
        background: rgba(255,255,255, 0.2);
      }
    }
    .title {
      font-size: 1.3em;
      font-weight: lighter;
      margin-bottom: 4px;
    }
    .include.tag {
      color: #BABABA;
    }
  }
}

.editor.form {
  position: absolute;
  top: 46px;
  left: 0;
  right: 0;
  bottom: 0;

  @include text;
  @include title;
  @include options;
  @include preview;
  @include partials;
  @include errors;

  & > .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    display: flex;
    height: 100%;
  }

}
