#partials {
  & > .wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;

    #partialOverview {
      display: flex;
      flex: 4 100%;
      flex-basis: 800px;
      height: 100%;
    }
  }
}
