#partials {
  & > .wrapper {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    height: 100%;

    #partialContainer {
      flex: 4 100%;
      flex-basis: 800px;
      -webkit-flex: 4 100%;
      -webkit-flex-basis: 800px;
      height: 100%;
      position: relative;
    }

    #newIdea {
      position: absolute;
      top: 25%;
      width: 400px;
      left: calc(50% - 200px);
      text-align: center;

      h1 {
        font-size: 2.2em;
        text-shadow: 0 1px #FCEFD9;
      }

      .new.item {
        font-size: 1.5em;
      }
    }
  }

  .content.preview {
    margin-top: 40px;
  }
}
