#posts {
  & > .wrapper {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    min-height: calc(100% - 46px);
  }

  #postContainer {
    display: flex;
    flex: 4 100%;
    flex-basis: 300px;
    display: -webkit-flex;
    -webkit-flex: 4 100%;
    -webkit-flex-basis: 300px;
    position: relative;
  }

  #postsList .list {
    flex-grow: 1;
    -webkit-flex-grow: 1;
  }

  #newIdea {
    position: absolute;
    top: 25%;
    width: 400px;
    left: calc(50% - 200px);
    text-align: center;

    h1 {
      font-size: 2.2em;
      text-shadow: 0 1px #FCEFD9;
    }

    .new.item {
      font-size: 1.5em;
    }
  }
}
