@mixin pagination {
  .pagination {
    font-size: 1.2em;
    text-align: center;
    margin: 12px 0;
    flex-grow: 0;
    flex-shrink: 0;
  }
}

@mixin filters {
  .filters {
    display: inline-block;
    text-align: left;
    font-size: 1.1em;

    & > a {
      display: inline-block;
      text-decoration: none;
      padding: 0 8px;
      height: 100%;
      line-height: 38px;
      position: relative;
      
      &:hover:not(.active) {
        text-decoration: underline;
      }

      &.active:after {
        content: "";
        border-radius: 50%;
        position: absolute;
        left: calc(50% - 8px);
        bottom: -10px;
        background: radial-gradient(ellipse at center, #f6f6f6 0%,#e1e1e1 49%,#f1f1f1 50%,#ffffff 100%);
        width: 12px;
        height: 12px;
        border: 2px solid #BABABA;
      }
    }
  }
}

@mixin item {
  .item {
    padding: 24px 8px;
    list-style-type: none;
    border-bottom: 1px solid #BABABA;
    &:hover {
      background: #F0F0F0;
    }

    & > h2 {
      margin: 0;
      font-size: 1.3rem;
    }

    & > .date {
      font-size: 0.8rem;
    }
  }
}

sidebar.listing {
  display: flex;
  flex: 1 100%;
  flex-basis: 300px;
  flex-direction: column;
  border-right: 1px solid #BABABA;
  background: #FEFEFE;

  header {
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 38px;
    font-size: 1.0rem;
    position: relative;
    box-sizing: content-box;
    border-bottom: 5px double #BABABA;

    @include filters;
  }

  & > .items {
    list-style-type: none;
    font-size: 1.4em;
    text-align: left;
    margin: 0;
    padding: 0;

    @include item;
    @include pagination;
  }
}
