<ol class='posts drafted'>
  <h3>Drafts</h3>
  <% drafted.each do |post| %>
    <li>
      <%= link_to post.title, url('/admin/posts/:post.id', post: post), class: %w(title) %>
    </li>
  <% end %>
</ol>

<ol class='posts published'>
  <h3>Published</h3>
  <% published.each do |post| %>
    <li>
      <%= link_to post.title, url('/admin/posts/:post.id', post: post), class: %w(title) %>
    </li>
  <% end %>
</ol>
