<%= content_tag :div, href: admin_tags_path, as: 'Posts.Filter.Tags' do %>
  <input type='hidden' name='posts[tag]' form='PostsFilter' />
  <template for='Posts.Filter.Tags'>
    <svg class='placeholder' x="0px" y="0px" viewBox='0 0 20 20'>
      viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
      <path d="M18.662,5.521L5.237,19l0.707-4.967l-4.945,0.709L14.424,1.263c0.391-0.392,1.133-0.308,1.412,0l2.826,2.839
      C19.162,4.575,19.053,5.128,18.662,5.521z"/>
    </svg>
    <svg class='clear' x="0px" y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
      <path d="M14.348,14.849c-0.469,0.469-1.229,0.469-1.697,0L10,11.819l-2.651,3.029c-0.469,0.469-1.229,0.469-1.697,0  c-0.469-0.469-0.469-1.229,0-1.697l2.758-3.15L5.651,6.849c-0.469-0.469-0.469-1.228,0-1.697c0.469-0.469,1.228-0.469,1.697,0  L10,8.183l2.651-3.031c0.469-0.469,1.228-0.469,1.697,0c0.469,0.469,0.469,1.229,0,1.697l-2.758,3.152l2.758,3.15  C14.817,13.62,14.817,14.38,14.348,14.849z"/>
    </svg>

    <span class='tag'></span>
  </template>
<% end %>

<%= content_tag :input do |input| %>
  <% input[:type] = 'text' %>
  <% input[:name] = 'posts[title]' %>
  <% input[:class] << 'search' %>
  <% input[:form] = 'PostsFilter' %>
  <% input[:placeholder] = 'Search' %>

<% end %>


