<%= content_tag :header, as: 'Posts.Filter', href: admin_posts_path do %>
  <section class='status'>
    <a>Published</a>
    <a>Draft</a>
  </section>

  <section class='search'>
    <%= content_tag :div, href: admin_tags_path, as: 'Posts.Filter.Tags' do %>
      <template for='Posts.Filter.Tags'>
        <svg class='placeholder' x="0px" y="0px" viewBox='0 0 20 20'>
          viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
          <path d="M18.662,5.521L5.237,19l0.707-4.967l-4.945,0.709L14.424,1.263c0.391-0.392,1.133-0.308,1.412,0l2.826,2.839
          C19.162,4.575,19.053,5.128,18.662,5.521z"/>
        </svg>

        <svg class='clear' x="0px" y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
          <path d="M10,1.6c-4.639,0-8.4,3.761-8.4,8.4c0,4.639,3.761,8.4,8.4,8.4s8.4-3.761,8.4-8.4C18.4,5.361,14.639,1.6,10,1.6z
          M14.789,13.061l-1.729,1.729L10,11.729l-3.061,3.06l-1.729-1.729L8.272,10L5.211,6.939L6.94,5.211L10,8.271l3.061-3.061
          l1.729,1.729L11.728,10L14.789,13.061z"/>
        </svg>

        <span class='tag'></span>
      </template>
    <% end %>

    <input type='text' placeholder='Search for a post' class='search' />

  </section>

  <section class='new'>
    <%= link_to 'New post', new_admin_post_path, remote: true %>
  </section>
<% end %>

<%= render 'admin/posts/posts', posts: @posts %>
