<nav id="Menu" class="admin">

  <section>
    <%= link_to 'Posts', admin_posts_path, class: %w(button) %>
  </section>


  <%= button_to session_path, method: :delete, class: %w(logout), form_class: %w(form logout) do %>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" class="logout" x="0px" y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
      <path d="M19,10l-6-5v3H6v4h7v3L19,10z M3,3h8V1H3C1.9,1,1,1.9,1,3v14c0,1.1,0.9,2,2,2h8v-2H3V3z"/>
    </svg>
  <% end %>
</nav>
