<nav id="Menu" class="admin">

  <section>
    <%= link_to 'Posts', admin_posts_path, class: %w(button) %>
  </section>


  <%= button_to 'logout', session_path, method: :delete, class: %w(logout), form_class: %w(form logout) %>
</nav>
