<div class='overlay' as='Overlay'>
  <div class='popup' as='Tags.List'>
    <h2>Tags</h2>
    <%= text_field_tag :tags, nil, placeholder: 'Create a new tag', href: admin_post_tags_path(@post) %>
    <h3>Tags you haven't used for this post</h3>
    <ul>
      <% tags.each do |tag| %>
        <%= render 'admin/posts/tags/dialog/tag', tag: tag, post: @post %>
      <% end %>
    </ul>
  </div>
</div>
