<%= form_tag admin_post_tags_path(post), as: 'Post.Tags.Form' do |f| %>

  <h2>Change tags</h2>

  <%= text_field_tag 'tag[name]', nil, id: 'TagName', placeholder: 'Create a new tag', autocomplete: :off %>
  <p class='message'>A new tag will be created if no match can be found. The tag it finds will be toggled.</p>
<% end %>

<ul class='tags' as='Post.Tags.List'>
  <% if tags.any? %>
    <%= render partial: 'admin/posts/tags/tag', collection: tags, locals: { post: post } %>
  <% else %>
    <li class='empty'>No tag was found.</li>
  <% end %>
</ul>
