<div class='overlay' as='Overlay'>
  <div class='popup' as='Tags.List'>
    <h2>Tags</h2>
    <%= text_field_tag :tags, nil, placeholder: 'Find or create a new tag', href: admin_tags_path %>
    <ul>
      <% tags.each do |tag| %>
        <%= render 'admin/posts/tags/tag', tag: tag, post: @post %>
      <% end %>
    </ul>
  </div>
</div>
