<%= form_for partial,
  builder: Admin::PartialBuilder,
  html: {class: %w(partial editor form)} do |f| %>

  <div class="wrapper">

    <%= f.errors %>

    <%= f.title %>
    <%= f.editor %>
  </div>

<% end %>
