<div class="wrapper">
  <sidebar id="partialList" class="listing">
    <header>
      <%= link_to "new", new_admin_partial_path %>
    </header>
    <ol class="items">
      <%= decorate @partials, :overview %>
    </ol>

    <%= paginate @partials %>

  </sidebar>

  <section id="partialOverview">
  </section>
</div>
