<%= form_for post.header, url: admin_post_image_path(post), as: :image, html: {class: %w(update)} do |f| %>

  <div class='drop zone'>
  </div>

  <p>You can drop an image here to set a header image for this post.</p>

  <%= f.file_field :file %>

<% end %>

<%= form_for post.header, url: admin_post_image_path(post), remote: true, method: :delete, html: {class: %w(clear)} do |f| %>
  Do you want to remove this header? <%= f.button 'Remove' %>
<% end %>

