@media (max-width: 800px) {
  #suggestedPosts {
    display: none;
  }

  #content {
    .entry-content {
      padding-right: 0;
      .meta {
        position: relative;
        width: 100%;
        & > * {
          float: right;
          &.post-edit-link {
            position: fixed;
            right: 1em;
            top: 3em;
            z-index: 1000;
          }
        }
      }
    }
  }
}

