<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1453169264903208";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div class="social">
  <h4>Did you like this post? Help me out and spread the word!</h4>
  <div class="fb-share-button" data-href="<%= url %>" data-type="button_count"></div>
  <a href="https://twitter.com/share" class="twitter-share-button" data-via="pothibo">Tweet</a>
  <a href="http://news.ycombinator.com/submit" class="hn-share-button">Vote on HN</a>
</div>
