<header id="blogHeader">
  <div class="content">
    <%= image_tag "profile.png", alt: "I'm signing the Declaration of independance!" %>
    <h1>Pothibo</h1>
  </div>
  <section class="navbar">
    <div class="content">
      <a href="http://feeds.feedburner.com/pothibo" id="feedburner">
        <img src="http://feeds.feedburner.com/~fc/pothibo?bg=99CCFF&amp;fg=444444&amp;anim=0" height="26" width="88" style="border:0" alt="" />
      </a>
      <a href="https://twitter.com/pothibo" class="twitter-follow-button" data-show-count="false">Follow @pothibo</a>
    </div>
  </section>
</header>

<div id="indexWrapper">
  <section id="articlesListing">
    <% @posts.each do |post| %>
      <%= render "post", post: post %>
    <% end %>

    <div id="pagination">
      <%= paginate @posts %>
    </div>
  </section>

  <aside id="sidebar">
    <h4>What's up!</h4>
    <p>I'm Pier-Olivier, a developer from Québec City, Canada. I <a href="https://twitter.com/pothibo">tweet</a> and open source code stuff on <a href="https://github.com">github</a></p>
    <p>Here, I share my experience with Go, Ruby, JS and CSS.</p>
  </aside>
</div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

