<header id="blogHeader">
  <p>Welcome to <a href="http://github.com/pothibo/ecrire">Ecrire</a>.</p>
  <p>This is the page your user will see when they reach your blog.</p>

  <p>This page can be customized by editing <code class="language-bash">app/views/posts/index.html</code></p>

  <p>If you want to edit the HTML for you blog post, the page to edit is <code class="language-bash">app/views/posts/show.html</code></p>

</header>

<section id="indexNavigation">
  <div class="wrapper">

    <p>You can also modify CSS and Javascript that will affect your blog as a whole.</p>
    <p>All CSS/JS files are located in <code class="language-bash">app/assets/</code> folder.
      If you want to change how your whole blog look, you will want to change CSS in the
      <code class="language-bash">blog/</code> folder. Conversely, if you want to change how
      your post look, you will need to change the CSS in the <code class="language-bash">post/</code> folder.</p>

    <p><strong>Don't forget to setup a S3 instance so you can use images on your blog!</strong></p>

  </div>
</section>

<section id="articlesOverview">

  <h2>Happy blogging!</h2>

  <div class="wrapper">
    <% @posts.each do |post| %>
      <%= render "post", post: post %>
    <% end %>
    <%= paginate @posts %>
  </section>
</div>
