<div class='suggestions'>
  <h5>Other article you may be interested in</h5>
  <ol>
    <% posts.each do |post| %>
      <li><%= link_to post.title, url('/:post.year/:post.month/:post.slug', post: post) %></li>
    <% end %>
  </ol>
</div>
