<% if posts.any? %>
  <ol class='posts'>
    <% unless @latest.nil? %>
      <%= render 'latest', post: @latest %>
      <h2>Other posts</h2>
    <% end %>
    <%= render posts %>
    <%= paginate posts %>
  </ol>
<% else %>
  <div class='posts empty'>
    <p>You haven't published yet.</p>
    <% if signed_in? %>
      <%= link_to 'Create a new post', url('/admin/posts/new') %>
    <% end %>
  </div>
<% end %>
