$header-height: 36px;

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #6d645c;
}

body {
  margin: 0;
  background-image: image-url("background.png");
  background-repeat: repeat;
  font-family: Helvetica, Arial;
  font-weight: 200;
}

#adminNavigationOptions {
  height: $header-height;
  background: rgb(71, 101, 145);
  position: relative;
  border-bottom: 1px solid rgb(52, 69, 99);
  padding: 0 12px;
  a {
    color: #FFF;
    text-decoration: none;
    font-size: 1.4em;
    line-height: $header-height;
    font-weight: lighter;
  }

  #blogLink {
    font-size: 3.0em;
  }

  #adminNavigationOptions {
    .link {
      padding: 4px 8px;
    }

    .active {
    }
  }
}
