@mixin button {
  background: #86B8F0;
  border: none;
  padding: 8px 12px;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 #BEBEBE;
  font-size: 1em;
  color: #FFF;

  &:active {
    box-shadow: none;
  }
}

@mixin social-logos {
  display: inline-block;
  width: 100px;
  height: 100px;
  opacity: 0.1;
  margin-top: 1em;

  &:hover {
    opacity: 0.2;
  }
}

.single-post {
  article.post {
    position: relative;
    header.entry-header {
      min-height: 400px;
      padding: 60px 10% 0;
      background: rgb(233,229,217);
      border-bottom: 20px solid #FFF;
      background-repeat: no-repeat;
      background-size: auto 100%;
      box-shadow: inset 0px -1px 9px -4px;

      &.code {
        background-image: image-url('https://s3.amazonaws.com/pothibo.com/header-code.png');
      }

      a.post-edit-link {
        border-radius: 2px;
        border: 1px solid #FFF;
        padding: 7px 12px;
        background-color: rgba(255,255,255, 0.6);
        box-shadow: 0 0 3px 0 #AAA;
        text-decoration: none;
        &:active {
          box-shadow: none;

        }
      }

      h1.entry-title {
        color: #AA8C80;
        background: rgba(255,255,255,0.6);
        display: inline-block;
        font-size: 2.5em;
        font-weight: lighter;
        text-transform: uppercase;
        line-height: 1.8em;
        padding: 0 12px;
        margin: 0;
      }

      p.author {
        font-family: Helvetica, Arial;
        font-weight: lighter;
        margin: 1em auto;
        color: #4C4C4C;
        background: rgba(255,255,255,0.6);
        padding: 8px 12px;
        display: inline-block;

        a {
          font-weight: bold;
          color: inherit;
        }
      }

      div.social {
        margin-top: 12px;
        #feedburner {
          float: right;
        }
      }
    }
  }

  .post-wrapper {
      min-width: 600px;
  }

  .entry-content {
    margin: 80px 0;
    font-size: 1.2em;
    line-height: 1.3em;
    font-weight: lighter;
    word-wrap: break-word;
    
    #suggestedPosts {
      h2 {
        font-weight: lighter;
        text-align: center;
      }

      ol {
        list-style-type: none;
        padding: 0;

        li {
          font-weight: bold;
          .excerpt {
            font-weight: normal;
            font-size: 0.8em;
          }
        }
      }
    }

    & > *:not(pre) {
      max-width: 960px;
      margin-left: auto;
      margin-right: auto;
      padding: 0 32px;
    }

    & > pre {
      & > code {
        display: block;
        max-width: 900px;
        margin: 0 auto;
      }
    }
  }

  #disqus_thread {
    max-width: 900px;
    min-width: 300px;
    margin: 0 auto;
    padding: 0 12px;
  }
}
