//= require post/prism

@mixin button {
  background: #86B8F0;
  border: none;
  padding: 8px 12px;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 #BEBEBE;
  font-size: 1em;
  color: #FFF;

  &:active {
    box-shadow: none;
  }
}

@mixin disqus {
  #disqus_thread {
    padding-top: 20px;
    margin-top: 20px;
    max-width: 900px;
    min-width: 300px;
    border-radius: 3px 3px 0 0;
    background: #FEFEFE;
  }
}

@mixin social {
  .social {
    & > h4 {
      font-family: olivier;
      font-size: 1.4rem;
    }

     & > div, & > iframe {
       display: inline-block;
       vertical-align: middle;
       margin: 0 12px;
     }
  }
}

@mixin header {
  header.post.title {
    padding: 60px 10%;
    background: rgb(233,229,217);
    border-bottom: 20px solid #FFF;

    .entry-title {
      color: #5C5340;
      display: inline-block;
      font-size: 2.0em;
      font-weight: lighter;
      line-height: 1.8em;
      padding: 0 12px;
      margin: 0;
    }

    .home.link.logo {
      display: inline-block;
      vertical-align: middle;
    }

  }
}

@mixin post {
  .social {
    padding: 20px 0;
    text-align: center;
  }

  article.content {
    min-width: 600px;
    font-size: 1.2em;
    line-height: 1.3em;
    font-weight: lighter;

    & > *:not(pre) {
      max-width: 960px;
      margin-left: 10%;
      margin-right: auto;
      padding: 0 32px;
    }

    & > pre {
      & > code {
        display: block;
        max-width: 900px;
        margin: 0 auto 0 10%;
      }
    }
  }
}

[id*=post-] {
  @include header;
  @include post;
  @include disqus;
  @include social;

  article.content {
    padding-top: 40px;
  }
}

#editorSideContent {
  @include post;
}

