<p>Ecrire's template provides a few mechanism to help you build your blog the way you want.</p>

<h2>Views</h2>
<p>Views are where most of your HTML script goes. You can customize the layouts or any other view. But before you do, please take a moment reading the difference between layouts and post views.</p>

<h3>Layouts</h3>
<p>The layout lives in <code>views/assets/application.html.erb</code>.</p>

<h3>Posts</h3>

<h2>Helpers</h2>
<p>Helpers are methods you can create and use them in your views.</p>

<h2>Decorators</h2>
<p>Decorators are very similar to helpers.</p>

<h2>Assets</h2>
<p>Assets are CSS and JS files.</p>

<h3>Stylesheets</h3>
<p>Stylesheets can either be pure CSS or SASS.</p>

<h3>Javascripts</h3>
<p>Javascripts can either be pure Javascript or Coffeescript.</p>

