<main>
  <aside>
    <h1>Ecrire is ready!</h1>
    <% if Rails.env.development? %>
      <p class="small"><code><%= Ecrire::Railtie.user_path %></code></p>
    <% end %>

    <% unless signed_in? %>
      <p>Sign in to access administration.</p>
      <%= render 'sessions/form' %>
    <% end %>

  </aside>

  <% if posts.empty? && Rails.env.development? %>
    <%= render 'onboarding' %>
  <% else %>
    <%= render 'posts' %>
  <% end %>
</main>
