<% if post.published? %>
  <%= render 'admin/posts/titles/form', title: title, url: admin_post_titles_path(post) %>
<% else %>
  <%= render 'admin/posts/titles/form', title: title, url: admin_post_title_path(post, title) %>
<% end %>

<h3>Titles for this post</h3>

<%= render 'admin/posts/titles/titles', post: post %>

