<li>
  <%= content_tag :p, title.name %>
  <% if title.post.published? %>
    <% post = Post.new(titles: [title], published_at: title.post.published_at) %>
    <%= link_to url(Ecrire::Theme::Engine.post_path, post: post, absolute_path: true), url(Ecrire::Theme::Engine.post_path, post: post, absolute_path: true) %>
  <% end %>
</li>
